.DS_Store
*.swp
*~.nib

.svn
.idea

build
Docs/
Graphics/
Sounds/
Temp/
Tools/
docs/
Build/
target/
DerivedData/
GFFrameworks/
malickyoula/
xcshareddata/

*..xccheckout
*.framework
*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.iml
*.log

xcuserdata

**/docset-installed.txt

**/html
**/docset
iCash/en.lproj/Localizable.strings